<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzhennaxia.ebook.mapper.primary.BookMapper">

    <select id="selectAll" resultType="com.gzhennaxia.ebook.entity.Book">
        SELECT id, asset_id, title FROM ebook_book
    </select>

    <insert id="insert">
        INSERT INTO ebook_book ( asset_id, title, author )
        VALUES
        <foreach collection="books" item="item" separator="," >
            ( #{item.assetId}, #{item.title}, #{item.author} )
        </foreach>
    </insert>

</mapper>