<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzhennaxia.ebook.mapper.primary.NoteMapper">

    <select id="selectAll" resultType="com.gzhennaxia.ebook.dto.NoteDto">
        SELECT * FROM ebook_note en LEFT JOIN ebook_chapter ec ON en.chapter_id = ec.id
    </select>
</mapper>